/* @font-face {
    font-family: 'SEGA LOGO FONT';
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62px;
    text-shadow: 2px 2px 6px white;
}